<section class="ac-grid-row ac-grid-no-v-margins ac-grid-expand-v results-panel">
	<!-- HEADER -->
	<div class="ac-grid-row ac-grid-no-v-margins result-panel-header-wrapper">
		<%- partial('./resultsPanel/header') %>
	</div>
	<!-- /HEADER -->


	<!-- WARNING CONTAINER -->
	<ul class="ac-grid-row ac-grid-no-v-margins result-warning-container empty">
	</ul>
	<!-- /WARNING CONTAINER -->


	<!-- PAGING CONTAINER -->
	<div class="ac-grid-row ac-grid-no-v-margins result-paging-wrapper">
	</div>
	<!-- /PAGING CONTAINER -->
</section>
	