<div
	data-ac-component="infoOverlayTrigger"
	data-ac-component-options="<%- encodeURIComponent(JSON.stringify({
		content: typeof content !== 'undefined' ? content : undefined,
		numberOfMonths: typeof numberOfMonths !== 'undefined' ? numberOfMonths : undefined
	})) %>"
>
	<div class="icon"></div>
	<div class="content">
		<div class="content-inner-wrapper"></div>
	</div>
</div>
