<div
	data-ac-component="form/searchField"
	<%- typeof formFieldId !== 'undefined' ? 'data-ac-attr-formFieldId="' + formFieldId + '"' : '' %>
>
	<div class="icon"></div>

	<input class="input" type="text" placeholder="<%= translate('pages.search.searchFieldPlaceholder') %>" />
</div>
