<div data-ac-component="player/playerPopout" class="stopped hide-progress-bar">
	<div class="track-image"></div>

	<div class="metadata">
		<div class="track-name"></div>
		<div class="artist-name"></div>
	</div>

	<div class="play-pause-button"></div>

	<div class="progress-bar-wrapper">
		<div class="progress-bar"></div>
	</div>
</div>
